.footer {
    flex: 0 0 auto;
    width: 100%;    
		background: 
		linear-gradient(rgba(194, 194, 194, 0.5), rgba(140, 140, 140, 0.6)), 
		url('../../../img/bcg_subscribe.webp');
    background-size: cover;
    background-repeat: no-repeat;  
  }

  .footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
  }

  .footer__text {
    max-width: 800px;
    text-align: center;
  }

  
  .footer__form {
    display: flex;
    margin-top: 24px;
  }


  .ant-form-item-explain-error {
    color: #c13c3d !important;
  }

  .footer__form__btn {
    background-color: var(--olive-green);
    box-shadow: none;
    transition: all 0.3s;
    margin: 0 5px;
  }

  .footer__form__btn:hover {
    background-color: var(--bright-green-transparent) !important;
    color: #fff;
    transition: all 0.3s;
  }
   
  .footer__form__input:hover,
  .footer__form__input:focus,
  .footer__form__input:active {
    border-color: var(--olive-green);
  }

  .footer__text,
  .footer__links {
    margin-top: 6px;
    font-weight: 500;
  }

  .footer__social-links a,
  .footer__links {
    color: var(--bright-green);
    transition: all 0.2s;
  }

  .footer__social-links a:hover,
  .footer__links:hover {
    color: #fff;
    transition: all 0.2s;
  }

  .footer__social-links a {
    display: inline-block;
    font-size: 28px;
    margin: auto 15px;
  }

  @media (max-width: 375px) { 
    .footer__social-links a {
      font-size: 22px;
      margin: auto 5px;
    }

    .footer__form {
      margin-top: 10px;
      flex-direction: column;
      align-items: center;
    }

}