.product__list {
    display: flex;
    gap: 15px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.product__list__item {
    width: 360px;
}

.product__list__item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
    color: var(--black);
    transition: all 0.3s;
}

.product__list__item__link:hover {
    opacity: 0.8;
    transition: all 0.3s;
    cursor: pointer;
}
.product__list__item__image__wrapper {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gainsboro;
}

.product__list__item__image {
    width: 100%;
    height: auto;
}

.product__list__item__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--olive-green);
}
.product__list__item__name {
    display: inline-block;
    padding: 10px 0;
    font-weight: 500;
}

.product__price {
    font-weight: 500;
    font-size: 20px;
    padding: 5px 0;
}

.product__cart__btn {
    background-color: var(--olive-green);
    color: #fff;
    width: 120px;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s;
}

.product__cart__btn:hover {
    background-color: var(--bright-green);
    opacity: 0.8;
    transition: all 0.3s;
    cursor: pointer;
}

.product__cart__btn.delete__product {
    background-color: gainsboro;
    color: var(--black);
    outline: 2px solid rgb(128, 128, 128);
    transition: all 0.3s;
}

.product__cart__btn.delete__product:hover {
    background-color: var(--red);
    outline: 2px solid transparent;
    color: #fff;
    opacity: 0.8;
    transition: all 0.3s;
    cursor: pointer;
}

.product__favour__btn {
    background: none;
    outline: none;
    border: none;
    font-size: 24px;
    color: var(--olive-green);
    transition: all 0.3s;
}

.product__favour__btn:hover {
    color: var(--red);
    transition: all 0.3s;
    cursor: pointer;
}

.product__favour__btn.delete__product {
    color: var(--red);   
    transition: all 0.3s;
}


.product__favour__btn.delete__product:hover {
    opacity: .5;
    transition: all 0.3s;
    cursor: pointer;
}

@media (max-width: 375px) { 
    .product__list__item__info {
        flex-direction: column;
    }

}