.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__nav {
    display: flex;
}

.nav__item {
    display: inline-block;
    padding: 15px 10px;
    font-size: 18px;
    transition: all 0.3s;
}

.nav__item:hover {
    background-color: var(--olive-green);
    opacity: 0.8;
    transition: all 0.3s;
}

.nav__item:hover a {
    color: #fff;
    transition: all 0.3s;
}

.nav__link {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}

.nav__link.active {
    padding-bottom: 5px;
    border-bottom: var(--bright-green) 4px solid;
}

.nav__toggle__btn {
    display: none;
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 110;
}

.header__cart-favour__item {
    display: inline-block;

}

.header__cart-favour__item a {
    color: var(--black);
    padding: 0 5px;
    font-size: 20px;
    transition: all 0.3s
}

.header__cart-favour__item:hover a {
    color: var(--bright-green);
    transition: all 0.3s
}

.header__cart-favour__item:hover .header__cart-favour__count {
    background-color: var(--bright-green-transparent);
    transition: all 0.3s;
}

.header__cart-favour__count {
    background-color: var(--olive-green);
    border-radius: 50%;
    padding-top: 2px;
    display: inline-block;
    width: 25px;
    height: 23px;
    text-align: center;
    color: #fff;
    transition: all 0.3s;
}

@media (max-width: 1024px) { 
    .nav__toggle__btn {
        display: block;
    }

    .nav__toggle__btn__toggled {
        color: white;
    }
    .header__nav {
        display: none;
    }
    .header__nav.header__nav__toggled {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        padding: 50px 0;
    }

    .nav__item {
        padding: 15px 20px;
    }

    .nav__link {
        color: #fff;
    }

}

@media (max-width: 768px) { 
    .header__cart-favour__item a {
        font-size: 16px;
    }

    .header__cart-favour__count {
        width: 20px;
        height: 18px;
    }

}

@media (max-width: 375px) { 
    .header__wrapper {
        align-items: center;
        flex-direction: column;
    }

}