.cart__product {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 2fr;
    align-items: center;
    justify-items: start;
    gap: 10px;
}

.cart__product__name {
    color: var(--black);
    transition: all .3s;
}

.cart__product__name:hover {
    color: var(--bright-green-transparent);
    transition: all .3s;
} 

.cart__total {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
    margin-left: auto;
    text-align: end;
    gap: 10px;
    margin-top: 15px;
}

.total__price {
    font-weight: 500;
    font-size: 24px;
}

.cart__btn  {
    border: none;
    outline: none;
    padding: 10px 15px;
    transition: all .3s;
}

.cart__reset__btn:hover {
   background-color: var(--red);
   color: #fff;
   transition: all .3s;
   cursor: pointer;
}

.cart__order__btn {
    background-color: var(--bright-green);
    color: #fff;
    transition: all .3s;
}

.cart__order__btn:hover {
    background-color: var(--bright-green-transparent);
    transition: all .3s;
    cursor: pointer;
}

@media (max-width: 768px) { 
    .cart__product {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .cart__product h3 {
        margin: 3px 0;
    }
}