.product__categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.product__categories.skeletons {
    flex-wrap: nowrap;
}

.category {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all .5s;
    
}

.category:hover {
    opacity: .7!important ;
    transition: all .5s;
    cursor: pointer;
}

.category__name {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    background-color: rgba(77, 117, 115, 0.7);
    padding: 15px 25px;
}