@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
:root {
    --olive-green: #9ea18e;
    --bright-green-transparent: rgba(77, 117, 115, 0.7);
    --bright-green: #276d6a;
    --black: #1e1e1e;
    --red: #a9442e;
  }

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html, body, #root {
    height: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
    color: var(--black);
    font-size: 18px;
}

h2 {
    margin: 20px 0;
}

h3, p {
    margin: 15px 0;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 90%;
    max-width: 1380px;
    margin: 15px auto;
}

@media (max-width: 768px) { 
    html, body, #root {
        font-size: 14px;
    }
}