.product__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    flex-direction: row;
}

.product__images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__image__wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.product__image__wrapper__main {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: gainsboro;
}

.product__image__small {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}

.product__image__small img {
    max-width: 100px;
    max-height: 100px;
}

.no-photo {
    width: 100px;
}

.product__buy__wrapper {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.products__btns {
    display: flex;
    gap: 10px;
}

@media (max-width: 600px) { 
    .product__wrapper {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 375x) { 
    .product__image__wrapper__main {
        width: 250px;
        height: 250px;
    }
}