.aboutUs__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs__img {
    width: 350px;
    
    border-radius: 50%;
}

.aboutUs__description p {
    width: 100%;
    line-height: 28px;
}

@media (max-width: 768px) { 
    .aboutUs__description p {
        line-height: 22px;
    }

    h3, p {
        margin: 8px 0;
    }
}

@media (max-width: 375px) { 
    .footer__social-links a {
      font-size: 22px;
      margin: auto 5px;
    }

}