.order__form {
    margin: 50px auto;
}

.ant-form-item-label {
    font-family: 'Montserrat', Arial, sans-serif !important;
}

.order__form__input {
    font-family: 'Montserrat', Arial, sans-serif;
}

.order__form__btn {
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: var(--olive-green);
    outline: none !important;
    border: none !important;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
    transition: all .3s;
}

.order__form__btn:hover {
    background-color: var(--bright-green) !important;
    color: #fff !important;
    outline: none !important;
    border: none !important;
    transition: all .3s;
}