.home__carousel .slick-list {
    height: 300px;
}

.home__carousel__element {
    height: 300px;
    color: #fff;
    text-align: center;
    background-size: 100%;
    background-position: center, center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    font-size: 18px;
}

.carousel__description {
    max-width: 800px;
}

.carousel__span-new,
.carousel__description,
.carousel__price,
.carousel__name {
    margin: 5px auto;
}

.carousel__goto-btn {
    color: #fff;
    background-color: #9ea18e;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 500;
    margin: 10px auto;
    transition: all 0.3s;
}


.carousel__goto-btn:hover {
    background-color: rgba(77, 117, 115, 0.7);
    color: #fff;
    transition: all 0.3s;
}


.carousel__price {
    color: wheat;
    font-weight: 500;
    font-size: 18px;
}

.home__popular {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 15px 25px;
    margin: 25px 0;
}

.home__popular__element:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

.home__popular__element {
    min-height: 200px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
}

.home__popular__element:hover {
    opacity: 0.8;
    transition: all 0.3s;
}

.home__popular__element__text {
    display: block;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(77, 117, 115, 0.7);
}

.home__popular__element__text:first-child,
.carousel__span-new {
font-style: italic;
color: wheat;
}

@media (max-width: 800px) { 
    .home__popular {
        grid-template-columns: 1fr;
    }

    .home__popular__element {
        min-height: 250px;
    }

}


@media (max-width: 425px) { 
    .home__popular__element__text {
        font-size: 16px;
    }

    .carousel__span-new,
    .carousel__description,
    .carousel__price,
    .carousel__name {
        line-height: 24px;
    }

}